.profile__btn-place {
  background-image: url('../../../images/icons/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  min-width: 150px;
  height: 50px;
  padding: 12px 62px;
  border: 2px solid #fff;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  margin-left: auto;
}

.profile__btn-place:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .profile__btn-place {
    max-width: 282px;
    width: 100%;
    margin: 32px auto 0;
    background-image: url('../../../images/icons/cross_small.svg');
  }
}