.foto-card__item {
  max-width: 282px;
  max-height: 361px;
  background-color: white;
  border-radius: 10px;
  font-size: 0;
  position: relative;
}

@media screen and (max-width: 930px) {
  .foto-card__item {
   justify-self: center;
  }
}