.register {
  max-width: 358px;
  margin: 60px auto 80px;
  color: #fff;
  line-height: 1.2;
}

.register__title {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

.register__form{
  width: 100%;
}

.register__input {
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
  color: #fff;
  width: 100%;
  font-size: 14px;
  line-height: 1.2;
  padding: 29px 0 9px 0px;
  font-weight: 500;
}

.register__input::placeholder {
  color: #ccc;
  font-weight: 400;
}

.register__button {
  border: none;
  margin-top: 217px;
  width: 100%;
  padding: 14px 84px;
  font-size: 18px;
  line-height: 1.2;
  border-radius: 2px;
}

.register__question-text {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  margin-top: 14px;
}

.register__question-link {
  text-decoration: none;
  color: #fff;
}